<div id="container">
    <div class="row center-block">
        

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 hpPics">
            <a  href="/cars"><img ng-src="{{c.car}}" class="img-responsive img-rounded center-block btn btn-default thumbnail" /></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hpPics">
            <a href="/movies"> <img ng-src="{{c.movie}}" class="img-responsive img-rounded center-block btn btn-default thumbnail" /></a>
        </div>
    </div>
</div>

<!-- class="visible-mg-inline-block hpPics" -->